<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Manavcım</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Anasayfa</a></li>
                <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
                <li><a asp-controller="Food" asp-action="Index">Products</a></li>
                <li><a asp-controller="Chart" asp-action="Index">Products Chart</a></li>
                <li><a asp-controller="Chart" asp-action="Statistics">Statistics</a></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Statistics" asp-action="Index" title="Manage">Statistics</a>
                </li>
                <li class="nav-item" >
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" style="height: 50px" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>


            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
